{{#version}}
## Version {{version}} ({{date}})
{{/version}}
{{#notableChanges}}

### Notable Changes

* **topic**:
  - Additional notes

### Commits
{{/notableChanges}}

{{#items}}
{{#githubHandle}}
* [[`{{hash}}`](https://github.com/{{githubHandle}}/commit/{{hash}})] - **{{category}}**: {{title}}
{{/githubHandle}}
{{^githubHandle}}
* [`{{hash}}`] - **{{category}}**: {{title}}
{{/githubHandle}}
{{/items}}

