{{#version}}
## Version {{version}} ({{date}})
{{/version}}
{{#notableChanges}}

### Notable Changes

* **topic**:
  - Additional notes

### Commits
{{/notableChanges}}

{{#items}}
* [`{{hash}}`] - **{{category}}**: {{title}}
{{/items}}

