
## Version {{version}} ({{date}})
{{#notableChanges}}

### Notable Changes

* **topic**:
  - Additional notes
{{/notableChanges}}

### Commits

{{#items}}
* [`{{hash}}`] - **{{category}}**: {{title}}
{{/items}}
