name: create-release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true

jobs:
  release:
    uses: ckotzbauer/actions-toolkit/.github/workflows/toolkit-release-nodejs.yml@0.51.0
    with:
      version: ${{ github.event.inputs.version }}
      build-commands: |
        npm ci
        npm run package
        npm test
      artifact-path: dist/
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      pat: ${{ secrets.REPO_ACCESS }}
      npm-token: ${{ secrets.NPM_TOKEN }}
